<!DOCTYPE html>
<html>
    <head>
        <title> Items </title>
        <script src="lib/jquery/dist/jquery.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-resource/angular-resource.js"></script>
        <script src="js/lb-services.js"></script>
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="container p-5" ng-app="myItems" ng-controller="myItemsController">
            <div class="col-md-6 mx-auto bg-light border">
                <div class="row justify-content-center p-5">
                    <h1 class="text-warning">Item's List</h1>
                </div>
                <div class="row justify-content-center p-5">
                    <input ng-model="newItem" placeholder="add Item" class="addText form-control">
                    <button class="btn btn-primary btn-sm" ng-click="pushItem()">Add</button>
                </div>
                <ul ng-repeat="i in items" class="row justify-content-center p-1">
                    {{i.name}}
                    <span ng-click="deleteItem($index)" class="btn btn-danger btn-sm ml-3">x</span>
                </ul>    
            </div>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>